* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background-color: #1a1a27;
    color: #b2b0bf;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

input {
    color: #b2b0bf !important;
}
label {
    color: #b2b0bf !important;
}

.size-area {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.size-selected {
    font-weight: 500;
}

.size-shirt {
    color: #7e6fff;
    background-color: #151521;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.container {
    background-color: #1e1e2d;
    border: 1px solid #b2b0bf;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}

.list-students {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.perfil-icon {
    background-color: #151521;
    height: 60px;
    width: 60px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-image {
    font-size: 10px;
    font-weight: 700;
    color: #7e6fff;
}

.name-student {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.name-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-money {
    font-weight: 700;
    color: #00c853;
    font-size: 15px;
}

/*--------------------- UTILS --------------------------*/

.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}